tcp-duplex-demo/tcp-duplex-demo/Service References/DuplexClient/DuplexService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="Silverlight" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="Silverlight" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="Silverlight/Imports">
      <xsd:import schemaLocation="http://localhost:2646/DuplexService.svc?xsd=xsd0" namespace="Silverlight" />
      <xsd:import schemaLocation="http://localhost:2646/DuplexService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:2646/DuplexService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/tcp_duplex_demo.Web" />
      <xsd:import schemaLocation="http://localhost:2646/DuplexService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDuplexService_Order_InputMessage">
    <wsdl:part name="parameters" element="tns:Order" />
  </wsdl:message>
  <wsdl:message name="IDuplexService_Order_OutputMessage">
    <wsdl:part name="parameters" element="tns:OrderResponse" />
  </wsdl:message>
  <wsdl:message name="IDuplexService_Receive_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:Receive" />
  </wsdl:message>
  <wsdl:portType name="IDuplexService">
    <wsdl:operation name="Order">
      <wsdl:input wsaw:Action="Silverlight/IDuplexService/Order" message="tns:IDuplexService_Order_InputMessage" />
      <wsdl:output wsaw:Action="Silverlight/IDuplexService/OrderResponse" message="tns:IDuplexService_Order_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Receive">
      <wsdl:output wsaw:Action="Silverlight/IDuplexService/Receive" message="tns:IDuplexService_Receive_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>